<style type="text/css">
	
									
				body{background-color: rgb(130, 130, 130) ; justify-content:center; align-content:center; align-items:center}

				video{position:absolute;
					top: 40%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 50%;
					height: 60%;}

				div{position:absolute;
					top: 74%;
					left: 50%;
					width: 50%;
					transform: translate(-50%, -50%)}
				button{
					background-color: rgb(3, 6, 5);
					font-family: 'Figtree', sans-serif;
					height: 40px;
					width: 189px;
					Font-size:15pt;
					color: aliceblue;
					border-color:rgb(88, 90, 89);
					border-width:3px; 
					border-style:outset;}

				body{background-color: rgb(176, 176, 176) ; justify-content:center; align-content:center; align-items:center}

							
			
</style>